on:
  push:
    branches:
    - master
  pull_request:
    branches:
    - master

jobs:
  manual:
    name: Build gBar manually
    runs-on: ubuntu-latest
    container: 
      image: archlinux
    steps:
      - name: Setup Arch Keyring
        run: |
          pacman-key --init
          pacman-key --populate archlinux
      - name: Download pacman packages
        run: |
          pacman -Syu --noconfirm base-devel gcc git ninja meson gtk-layer-shell pulseaudio wayland libdbusmenu-gtk3 libsass

      - name: Download gBar
        uses: actions/checkout@v3.3.0
        with:
          submodules: recursive

      - name: Run meson
        run: |
          meson setup build

      - name: Build gBar
        run: |
          ninja -C build
  nix:
    name: Build using Nix
    runs-on: ubuntu-latest
    steps:
      - name: Install Nix
        uses: cachix/install-nix-action@v20

      - name: Download gBar
        uses: actions/checkout@v3.3.0
        with:
          submodules: recursive

      - name: Build Nix flake
        run: |
          nix build --print-build-logs
